body{
    background-color: rgb(6, 6, 6);
    margin: 10%;
}
header{
    background-color: rgb(255, 255, 255);
    margin-top: 1px;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px 10px 1px 1px;
}
main{
    background-color: rgb(41, 41, 48);
    padding: 50px 100px;
    margin: 3em;
    text-align: center;
    border-radius: 4px 4px 4px 4px ;

}
main audio{
    background-color: rgb(252, 248, 248);
    padding: 10%;
    border: 10px solid black;
    border-radius: 60%;
}
footer{
    display: block;
    margin-top: 10%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 1px 1px 10px 10px;
    margin-bottom: -100px;
}